@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Scripture Journal!</h1>
    <p>This is a great website to keep track of your favorite Book of Mormon scriptures and write down notes for them!</p>
    <p><a asp-area="" asp-page="/Scriptures/Index">Click here</a> to get started</p>
    <a href="https://www.churchofjesuschrist.org/study/scriptures/bofm?lang=eng" target="_blank"><img src="~/book-of-mormon.png" style="height:500px;" alt="blue Book of Mormon" /></a>
</div>
